# compiled output
dist
node_modules
build

# Logs
*.log
pnpm-debug.log*

# OS
.DS_Store

# IDEs and editors
.idea
.vscode/*

# dotenv environment variable files
.env
.env.local

# AI tools
.aider*

# env
.env
