{
  "importOrder": ["^react", "", "^.(css|scss)$", "", "<THIRD_PARTY_MODULES>", "", "^components/(.*)$", "", "^[./]"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all"
}
